<!-- navbar.component.html -->
<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>Esküvői dekor webshop</span>

    <span class="example-spacer"></span>

    <mat-form-field class="search-field">
        <input matInput placeholder="Keresés" aria-label="Search" #searchInput>
        <button mat-icon-button (click)="search(searchInput.value)">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <button mat-icon-button class="search-icon" (click)="toggleSearch()">
        <mat-icon>search</mat-icon>
    </button>

    <button routerLink="" mat-button>Főoldal</button>

    <button *ngIf="(isLoggedIn$ | async) !== null" (click)="logout()" mat-button>Kilépés</button>
    <button *ngIf="(isLoggedIn$ | async) === null" routerLink="login" mat-button>Belépés</button>
    <button *ngIf="(isLoggedIn$ | async) === null" routerLink="register" mat-button>Regisztráció</button>

</mat-toolbar>

<div *ngIf="showSearchField" class="mobile-search">
    <mat-form-field class="mobile-search-field">
        <input matInput placeholder="Search" aria-label="Search" #mobileSearchInput>
        <button mat-icon-button (click)="search(mobileSearchInput.value)">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
