.mat-toolbar {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 16px;
}

.logo-image {
  height: 40px;
}

.example-spacer {
  flex: 1;
}

.search-field {
  min-width: 300px;
  @media (max-width: 1000px) {
    display: none;
  }
}

.search-icon {
  display: none;
  @media (max-width: 1000px) {
    display: block;
  }
}

.mobile-search {
  display: none;
  background-color: #fff;
  padding: 10px;
  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
}

.mobile-search-field {
  width: 100%;
}
