<!-- main.component.html -->
<div class="main-container">
  <div class="header-container">
    <p class="hello" *ngIf="currentUserName">Üdvözöljük, {{ currentUserName }}!</p>
    <div class="sort-container">
      <mat-form-field>
        <mat-label>Rendezés</mat-label>
        <mat-select (selectionChange)="sortProducts($event.value)">
          <mat-option value="name">Név szerint</mat-option>
          <mat-option value="price">Ár szerint</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="product-container" fxLayout="row wrap" fxLayout.gt-sm="row">
    <div class="product-card" fxFlex="calc(33.33% - 20px)" fxFlex.gt-sm="calc(33.33% - 20px)"
      *ngFor="let product of products">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ product.description }}</p>
          <p>Ár: {{ product.price | formatPrice }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" (click)="addToCart(product.id)">Kosárba</button>
          <button *ngIf="currentUserRole == 'admin'" mat-button color="warn"
            (click)="deleteProduct(product.id)">Törlés</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>